<h1>SinatraApp</h1>

Please sign in:

<form method='post' action='/sessions'>
  Email: <input type='text' name='email'>
  Password: <input type='password' name='password'>
  <input class="btn btn-warning" type='submit' value='Sign in'>
</form>