<!DOCTYPE html>
<html>
  <head>
    <title>SinatraApp</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <a class="navbar-brand" href="/">SinatraApp</a>
      <a class="btn btn-default navbar-btn" href="/sessions/new">Sign in</a>
      <a class="btn btn-default navbar-btn" href="/users/new">Sign up</a>
    </nav>
      <div class="panel panel-default">
        <div class="panel-body">
        </div>
      </div>
    <%= partial :welcome_message %>
    <%= partial :flash %>
    <%= yield %>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
